@import "./../lib/reset.scss";
.header {
	padding:0 15px;
	height:40px;
	background:#fff;
	border-bottom:1px solid #cbcbcb;
	span {
		display:inline-block;
		height:40px;
		padding:0 4px;
		cursor:pointer;	
		line-height:40px;
		font-weight:700;	
		color:#333;
	}
	span.select{
		color:#ed4044;
	    border-bottom: 2px solid #ed4044;
	}
	.headerfl {
		width:50%;
		float: left;
		text-align:right;
		padding-right:5%;
	}
	.headerfr {
		position:relative;
		float: left;
		width:50%;
		text-align:left;
		padding-left:5%;
		
		img {
			position:absolute;
			right:0;
			top:13px;
			@include rect(0.14rem,0.14rem)
		}
	}
}
.leftbox {
	position:fixed;
	top:40px;
	left:0;
	bottom:0;
	overflow-y:scroll;
	border-right:5px solid #f3f4f5;
	padding-bottom:45px;
	background: #fff;
	 li {
	 	padding:15px 0;
	 	border-bottom:1px solid #f3f4f5;
	 	width:70px;
	 	height:50px;
	 	font-size:13px;
	 	text-overflow:ellipsis;
	 	white-space: nowrap;
	 	overflow:hidden;
	 	text-align:center;
	 }
	 li.on {
	 	background: #f3f4f5;
	 	color:#ed4044;
	 }
	 li:nth-child(1) {
	 	background: #f3f4f5;
	 	color:#ed4044;
	 }
}
.rightbox {
	 margin-left:75px;
	 border-top:5px solid #f3f4f5;
	 .hotkind {
	 	border-top:1px solid #f3f4f5;
	 	padding:5px 5px 20px;
	 	.hottitle {
	 		font-size:12px;
	 		display:block;
	 		color:#999;
	 		padding-left:5px;
	 		margin-top:10px;
	 		}
	 		ul {
	 			overflow:hidden;
	 		}
	 		li {	
	 			padding:0 5px;
	 			margin-top:10px;
	 			width:33.33%;
	 			float: left;
	 			a {
	 				display:block;
	 				color:#333;
	 				img {
	 					width:100%;	 					
	 				}
	 				p {
		 				overflow:hidden;
		 				text-overflow:ellipsis;
		 				white-space:nowrap;
		 				height:20px;
		 				text-align:center;
		 				margin-top:10px;
		 				font-size:13px;
	 			}
	 			}
	 			
	 		}
	 	
	 }
}
.totalBrand {
	@include rect(100%,auto);
	background:#f3f4f5;
	display:none;
	.lookup a {
		width:40px;
		height:40px;
		right:6px;
		bottom:65px;
		position:fixed;
		z-index:10;
		background: rgba(0,0,0,0.4);
		line-height:40px;
		color:#fff;
		font-size:12px;
		border-radius:50%;
		text-align: center;
	}
	.brandlist {
		background:#fff;
		padding-bottom:15px;
		margin-bottom:10px;
		.title {
			padding-top:20px;
			font-size:12px;
			color:#999;
			text-align:center;
		}
		.list {
			padding:0 5px;
			overflow:hidden;
			li {
				width:33.33%;
				padding:0 5px;
				margin-top:20px;
				float: left;
				position:relative;
				a {
					display:block;
					color:#333;
					div {
			          border:1px solid #e2e2e2;
			          text-align:center;
			          padding:50px 10px 10px;
			          background:url(https://static.epetbar.com/static_web/wap/dist/images/background/default-epet2.jpg) no-repeat center center #fff;
					  background-size:120px auto;
					  img {
					  	max-width:88%;
					  	
					  	height:40px;
					  	position:absolute;
					  	top:0;
					  	left:0;
					  	right:0;
					  	margin:10px auto 0;
					  }
					}
					p {
						height:20px;
						overflow:hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						text-align:center;
					}
					.name {
						font-size:13px;
						margin-top:5px;
						color:#333;
					}
					.address {
						font-size:12px;
						color:#999;
					}
				}
			}
		}
	}
}
